.menu div{
    float: left;
    display:inline;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

.menu div:hover{
    cursor: pointer;
    background-color:#ddd;
    color:black;
}