.tree{
    width: 200px;
    height: 100px;
    margin: 5px;

    position: relative;
    background-color: white;
    border: 1px solid rgb(204, 201, 201);
}

.tree h2{
    margin : 0;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid gray;
}
.tree p{
    margin : 0;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}

.tree:hover{
    cursor:pointer;
    background-color: gray;
}